@CHARSET 'UTF-8';

/******************************************************************************
 *
 * PAGE STYLES
 *
 ******************************************************************************/

@page {
  font-size: 11pt;
  margin: .75in;
  margin-bottom: .9in;
  margin-top: 1.75in;
}

@page :first {
  margin-top: .75in;
}

body {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  word-break: break-all;
  word-wrap: break-word;
}

/* CLEARFIX */

.clearfix-element {
  clear: both !important;
  float: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  width: 100% !important;
}

/******************************************************************************
 *
 * RESET
 *
 ******************************************************************************/

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
table,
ul {
  margin-top: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .15in;
}

h3 {
  font-size: 14pt;
}

div:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ol:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0 !important;
}

ul ul,
ol ul {
  list-style-type: disc;
}

/* TABLES */

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

td {
  border: 0;
  padding: 0;
}

/* ALPHA-NUMERIC ORDERED LISTS */

ol[style="list-style-type: lower-alpha;"] {
  counter-reset: list;
}

ol[style="list-style-type: lower-alpha;"] > li {
  list-style: none;
  position: relative;
}

ol[style="list-style-type: lower-alpha;"] > li:before {
  content: counter(list, lower-alpha) ')';
  counter-increment: list;
  left: -.5ex;
  padding-right: 1ex;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
}

/******************************************************************************
 *
 * HEADER
 *
 ******************************************************************************/

.header {
  border: 1px solid black;
  font-size: 10pt;
  margin-bottom: 1em;
}

.header-layout-cell {
  padding: .025in;
  vertical-align: bottom;
  width: 50%;
}

.owner {
  float: left;
}

.authority {
  float: right;
  margin-top: 1.22em !important;
  width: auto;
}

.authority .field-label {
  padding-right: .5ex;
  vertical-align: top;
  width: 1%;
}

.header h1,
.interior-header h1 {
  font-size: 16pt;
  height: .5in;
  line-height: .5in;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.header-mask {
  background-color: #fff;
  border: 1px solid #fff;
  height: .75in;
  left: 0;
  position: absolute;
  right: 0;
  top: -.79in;
  z-index: 2;
}

/******************************************************************************
 *
 * FOOTER
 *
 ******************************************************************************/

.footer {
  border-top: 1px solid #000;
  bottom: 0in;
  font-size: 9pt;
  left: 0;
  margin: 0;
  padding-right: 25%;
  padding-top: .05in;
  position: fixed;
}

/******************************************************************************
 *
 * INTERIOR HEADER
 *
 ******************************************************************************/

.interior-header {
  border: 1px solid black;
  position: fixed;
  text-align: center;
  top: -1in;
}

.interior-header h1 {
  padding: .15in;
}

/******************************************************************************
 *
 * SUB-HEADER
 *
 ******************************************************************************/

/* CANCELS, REPLACES, REVISES, SEE ALSO */

.sub-header {
  font-size: 10pt;
}

.sub-header .field-label {
  width: 10%;
}

.sub-header td {
  vertical-align: top;
}

.sub-header table {
  margin-bottom: 1em;
}

.sub-header table td {
  padding-bottom: 1em;
}

.sub-header table table td {
  padding-bottom: .15em;
}

.sub-header .number {
  width: 20%;
}

/******************************************************************************
 *
 * CONTENT HEADER
 *
 ******************************************************************************/

.content-header {
  margin-bottom: 1em;
}

.content-header td {
  vertical-align: top;
}

.number-wrapper {
  width: 25%;
}

.title-wrapper {
  width: 75%;
}

.content-header .number,
.content-header .title {
  font-size: 14pt;
  font-weight: bold;
}

.title {
  text-decoration: underline;
  text-transform: uppercase;
}

.application {
  font-size: 11pt;
  font-style: italic;
  font-weight: bold;
}

/******************************************************************************
 *
 * CONTENT
 *
 ******************************************************************************/

/* PREAMBLE */

.preamble {
  margin-bottom: 1em;
}

/* DEFINITIONS */

.definitions {
  margin-bottom: 2em;
}

.definitions h3 {
  font-size: 11pt;
}

.definition-item {
  margin-bottom: 1em;
}

.definition-item:last-child {
  margin-bottom: 0 !important;
}

.definition-item li {
  margin-bottom: 1em;
}

.definition-item li:last-child {
  margin-bottom: 0 !important;
}

.definition,
.definition p,
.definition ol,
.definition ul {
  page-break-before: avoid;
}

.definition ol ol li {
  margin-bottom: 0;
}

.field-name-field-definitions {
  margin-top: 1em;
}

/* STATEMENTS */

.statement-items {
  font-weight: bold;
  padding: 0;
  padding-left: 2em;
}

.statement-item {
  margin-bottom: 1em;
}

.statement-item:last-child {
  margin-bottom: 0 !important;
}

.statement-item li {
  margin-bottom: 1em;
}

.statement-item li:last-child {
  margin-bottom: 0 !important;
}

.statement {
  font-weight: bold;
  margin-bottom: 1em;
  text-decoration: underline;
  page-break-before: avoid;
  page-break-inside: avoid;
}

.description,
.description p,
.description ol,
.description ul {
  font-weight: normal;
  page-break-before: avoid;
}

.description ol,
.description ul {
  margin-bottom: 1em;
}

.description ol ul {
  margin-top: 1em;
}
